<!DOCTYPE html>
<html class="dark" lang="<%= lang %>">
<head>
  <%- include('../partials/head') %>
  <meta name="google-adsense-account" content="ca-pub-4401422481772566">
  <meta name="monetag" content="4808a68538425ee16546f2b467f98da0">
</head>
<body class="bg-surface-dim text-on-background font-body-md selection:bg-primary-fixed selection:text-on-primary min-h-screen flex flex-col">
  <%- include('../partials/navbar') %>
  <%- include('../partials/flash') %>
  <main class="flex-1">
    <%- body %>
  </main>
  <%- include('../partials/footer') %>
  <%- include('../partials/scripts') %>
</body>
</html>
