<!DOCTYPE html>
<html class="dark" lang="<%= lang %>">
<head>
  <%- include('../partials/head') %>
  <meta name="google-adsense-account" content="ca-pub-4401422481772566">
  <meta name="monetag" content="1905a3e04b2dc9b7efaf4742b243c717">
  <script src="https://quge5.com/88/tag.min.js" data-zone="251714" async data-cfasync="false"></script>
</head>
<body class="bg-surface-dim text-on-background font-body-md selection:bg-primary-fixed selection:text-on-primary min-h-screen flex flex-col">
  <%- include('../partials/navbar') %>
  <%- include('../partials/flash') %>
  <main class="flex-1">
    <%- body %>
  </main>
  <%- include('../partials/footer') %>
  <%- include('../partials/scripts') %>
</body>
</html>
