<!DOCTYPE html>
<html class="dark" lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body class="bg-surface-dim text-on-background font-body-md selection:bg-primary-fixed selection:text-on-primary">
  <%- include('../partials/navbar') %>
  <div class="flex">
    <%- include('../partials/user-sidebar') %>
    <main class="flex-1 min-h-screen ml-64 p-8">
      <%- include('../partials/flash') %>
      <%- body %>
    </main>
  </div>
  <%- include('../partials/scripts') %>
</body>
</html>
